section.about
  img(src="asset/img/image_about.jpg" alt="About photo").image_about
  div.text.text_about
    div.title.title_about Sed faucibus quis
    div.description.description_about Fusce bibendum luctus massa, ut tincidunt lectus tincidunt in. Nulla tristique ipsum vitae lacus ullamcorper, at dictum nunc scelerisque.
