section.gallery
  div.wrap
    img(src="asset/img/image-gallery-1.jpg" alt="").image
    img(src="asset/img/image-gallery-2.jpg" alt="").image
    img(src="asset/img/image-gallery-3.jpg" alt="").image
    img(src="asset/img/image-gallery-4.jpg" alt="").image
  div.wrap
    div.text.text_gallery
      div.title Instagram
      div.description Etiam lacus dolor, tincidunt vitae nisi in, vulputate placerat odio. Pellentesque iaculis.
      a(href="#").button View on Instagram
    img(src="asset/img/image-gallery-5.jpg" alt="").image
    div.image.image_none-gallery
