.footer
  background: grey_six
  padding: 50px 0

.site
  width: 280px

.contact,
.social
  width: 180px

.fa-facebook
  padding: 0 18px 0 0
.fa-twitter
  padding: 0 14px 0 0
.fa-instagram,
.fa-spotify
  padding: 0 15px 0 0

.form
  position: relative
  margin: 0 0 15px 0

.input
  color: grey_seven
  background-color: #909193
  border: none
  font: 300 14px font_firasans
  opacity: 0.4
  padding: 21px 19px 17px
  width: 90%

.button-footer
  color: grey_seven
  cursor: pointer
  background: transparent
  border: none
  font-size: 18px
  font-weight: 400
  opacity: 0.4
  padding: 0
  position: absolute
  right: 5%
  top: 21px

.button-footer:hover
  color: grey_one

.logo_sponsor
  color: white
  border: solid 1px white
  box-sizing: border-box
  float: left
  font: 700 14px font_firasans
  height: 80px
  margin: 0 20px 20px 0
  text-align: center
  line-height: 80px
  text-transform: uppercase
  width: 80px

@media (min-width: screen)
  .footer
    padding: 100px 0

  .contact,
  .social
    margin: 0 0 80px 0

  .subscribe,
  .sponsors
    width: 480px

  .form
    margin: 0 0 80px 0
