.footer
  background: grey_six
  padding: 50px 0

.site
  width: 280px

.contact,
.social
  width: 180px

.subscribe,
.sponsors
  width: 480px

.fa-facebook
  padding: 0 18px 0 0
.fa-twitter
  padding: 0 14px 0 0
.fa-instagram,
.fa-spotify
  padding: 0 15px 0 0

.input
  background-color: #909193
  border: none
  font: 300 14px font_firasans
  opacity: 0.4
  padding: 21px 19px 17px
  width: 100%

.button-footer
  color: grey_seven
  background: #909193
  border: none
  font-size: 18px
  font-weight: 400
  opacity: 0.4
  padding: 0

@media (min-width: screen)
  .footer
    padding: 100px 0
