footer.footer
  div.wrapper.wrap_footer
    div.site
      div.title.title_footer AMAZING DUDE. AMAZING LIFE.
      div.description.description_footer Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.<br> Ⓒ2015. all rights reserved.
    div
      div.contact
        div.title.title_footer Contact me
        div.description.description_footer 1242 Crestview Terrace Artesia Wells, TX 78001 Phone: 830-676-7974 Email: halo@sitename.com
      div.social  
        div.title.title_footer Follow me on
        ul.list
          li
            a(href="#").link.link_footer <i class="fa fa-facebook"></i>Facebook
          li
            a(href="#").link.link_footer <i class="fa fa-twitter"></i>Twitter  
          li
            a(href="#").link.link_footer <i class="fa fa-instagram"></i>Instagram  
          li
            a(href="#").link.link_footer <i class="fa fa-spotify"></i>Spotify
    div
      div.subscribe
        div.title.title_footer Subscribe
        div.description.description_footer Duis sollicitudin facilisis dui ac aliquet. Phasellus   tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel   arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
        input(type="email", placeholder="ENTER YOUR EMAIL ADDRESS").input
        button(type="submit").fa.fa-arrow-right.button-footer 
      div.sponsors
        div.title.title_footer Sponsor
        div.wrap
          div.logo_sponsor
          div.logo_sponsor
          div.logo_sponsor
