.button
  border: solid 2px grey_one
  border-radius: 28px
  color: grey_one
  font-family: font_firasans
  font-size: 18px
  font-weight: 700
  letter-spacing: 3px
  margin: 35px 0 0 0
  padding: 13px 30px 11px 30px
  text-decoration: none
  text-transform: uppercase
  transition: border-color, color 100ms ease-in

.button:hover
  border-color: grey_seven
  color: grey_seven
