.button
  border: solid 2px grey_one
  border-radius: 28px
  color: grey_one
  font-family: font_firasans
  font-size: 12px
  font-weight: 700
  letter-spacing: 1px
  margin: 35px 0 0 0
  padding: 6px 15px 5px 15px
  text-decoration: none
  text-transform: uppercase
  transition: border-color, color 100ms ease-in

.button:hover
  border-color: grey_seven
  color: grey_seven

.button_music
  border: solid 2px green
  color: green

.button_music:hover
  border-color: grey_one
  color: grey_one

.button_itunes:hover
  border-color: green
  color: green

@media (min-width: tablet)
  .button
    font-size: 14px
    letter-spacing: 2px
    padding: 10px 20px 8px 20px

@media (min-width: screen)
  .button
    font-size: 16px

@media (min-width: screen_large)
  .button
    font-size: 18px
    letter-spacing: 3px
    padding: 13px 30px 11px 30px
