.description
  color: grey_one
  font-family: font_firasans
  font-size: 18px
  font-weight: 300
  margin: 0 0 20px 0

.description_header
  color: black
  font-size: 16px
  margin: 0 0 100px 0

.description_about
  color: grey_four

.description_music
  color: green

.description__mark
  color: black
  font-size: 16px
  font-family: font_firasans
  font-weight: 700

.description_footer
  color: grey_three
  font-size: 14px

@media (min-width: screen)
  .description
    font-size: 24px
    margin: 0 0 30px 0

  .description_header
    font-size: 22px
    margin: 0 0 150px 0

  .description_mark
    font-size: 22px

  .description_header
    width: 42%

  .description_footer
    color: grey_three
    font-size: 14px

@media (min-width: screen_large)
  .description
    font-size: 36px
    margin: 0 0 40px 0

  .description_header
    font-size: 30px
    margin: 0 0 200px 0
    width: 49%

  .description_mark
    font-size: 30px

  .description_footer
    color: grey_three
    font-size: 14px
