.image
  grid-1()

.image
  width: 100%

.image_about
  grid-2()
  width: 100%

.image_none-gallery
  background: blue

.image_none-music
  background: grey_five

.image_music
  grid-3()
