.link
  text-decoration none

.link_header
  color: grey_six;
  font: 400 16px font_firasans
  display: block
  padding: 10px
  transition: background 200ms ease-in

.link_header:hover
  background: grey_one

.link_footer
  color: grey_three
  font: 700 14px font_firasans
  text-transform: uppercase
  transition: color 200ms ease-in

.link_footer:hover
  color: green
