.text
  grid-2()
  box-sizing: border-box
  padding: 25px 12px

.text_about
  background: grey_two

.text_gallery
  background: blue

.text_music
  grid-1()
  background: grey_six
  position: absolute

.text_spotify
  background: green

.text_itunes
  background: grey_five

@media (min-width: tablet)
  .text
    padding: 30px 24px

@media (min-width: screen)
  .text
    padding: 50px 36px

  .text_about,
  .text_itunes
    padding: 50px 144px 50px 36px

  .text_gallery,
  .text_spotify
    padding: 50px 36px 50px 144px

@media (min-width: screen_large)
  .text
    padding: 100px 50px

  .text_about,
  .text_itunes
    padding: 100px 250px 100px 50px

  .text_gallery,
  .text_spotify
    padding: 100px 50px 100px 250px
