.text
  grid-2()
  box-sizing: border-box
  padding: 25px 12px

.text_about
  background: grey_two

.text_gallery
  background: blue

@media (min-width: tablet)
  .text
    padding: 50px 24px

@media (min-width: screen)
  .text
    padding: 75px 36px

@media (min-width: screen_large)
  .text
    padding: 100px 50px
