.title
  color: grey_one
  font-family: font_firasans
  font-size: 16px
  font-weight: 700
  margin: 0 0 15px 0
  text-transform: uppercase

.title_header
  color: black
  font-size: 36px
  font-weight: 300
  margin: 50px 0 0 0
  text-transform: capitalize

.title_about
  color: grey_four

.title_footer
  font-size: 18px

@media (min-width: screen)
  .title
    font-size: 20px
    margin: 0 0 20px 0

  .title_header
    font-size: 54px
    margin: 100px 0 0 0

  .title_header
    width: 49%

@media (min-width: screen_large)
  .title
    font-size: 24px
    margin: 0 0 30px 0

  .title_header
    font-size: 72px
    margin: 200px 0 0 0
    width: 49%
