// Colors
// ______

black = #000
green = #2ebd59
blue = #3f729b
light_blue = #42b7c8
white = #fff
grey_one = #f9f9f9
grey_two = #f3f1ef
grey_three = #919191
grey_four = #666
grey_five = #282b2f
grey_six = #212227
grey_seven = #141414
// Font
// ____

font_firasans = 'Fira Sans', Arial, sans-serif

// Resolution
// __________

tablet = 40em
screen = 64em
screen_large = 90em
