section.music
  div.wrap
    div.image
    div.text_music
      div.title Self-Effacing Rage FT. Fascinating Collision
      ul.list
        li.list__item_music Director: James G. Rohrer
        li.list__item_music Production Company: Sycamore
        li.list__item_music Producer: Laura S. Carlton
        li.list__item_music Executive Producer: Jack M. Heckart
      a(href="#").button.button_music Click to play ►
    div.image_music
  div.wrap
    div.text
      div.title Spotify
      div.description Follow me, stream and add my songs to your Spotify playlist.
      a(href="#").button.button_spotify Follow on Spotify
    div.text
      div.title Itunes
      div.description Buy and download my songs from iTunes.
      a(href="#").button.button_itunes Buy from Itunes
