<!DOCTYPE html>
html
  head
    link(rel="stylesheet", href="css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700' rel='stylesheet' type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title amazing
  body.page
    include blocks/header/header.pug
    include blocks/about/about.pug
    include blocks/gallery/gallery.pug
    include blocks/music/music.pug
    include blocks/footer/footer.pug
    
