header.header
  div.wrapper
    div.wrap_header
      div.logo /.
      nav.menu
        a(href="").link.trigger.fa.fa-bars
        ul.list.list_header
          li
            a(href="#").link.link_header About
          li
            a(href="#").link.link_header Gallery
          li
            a(href="#").link.link_header Music
    div.wrap_header-content
      div.title.title_header Amazing Dude. Amazing Life.
      div.description.description_header Welcome to the personal site of <span class="description__mark">John Doe.</span> A professional skier and a musician.
